{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

<section class="vh-80" style="background-color: #9de2ff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-md-9 col-lg-7 col-xl-5">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-4">
            <div class="d-flex text-black">
              <div class="">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                  alt="Generic placeholder image" class="img-fluid"
                  style="width: 180px; border-radius: 10px;">
              </div>
              <div class="flex-grow-1 ml-3">
                <h5 class="mb-1"> <strong>{{app.user.lastname()}}</strong> {{ app.user.firstname }} </h5>
                <p class="mb-2 pb-1" style="color: #2b2a2a;">Contact: {{ app.user.email }}</p>
                <div class="d-flex rounded p-1 mb-1 flex-fill"
                  style="background-color: #efefef;">
                  <div>
                    <p class="small text-muted mb-1">Articles</p>
                    <p class="mb-0">41</p>
                  </div>
                  <div class="px-3">
                    <p class="small text-muted mb-1">Followers</p>
                    <p class="mb-0">976</p>
                  </div>
                  <div>
                    <p class="small text-muted mb-1">Rating</p>
                    <p class="mb-0">8.5</p>
                  </div>
                </div>
                <div class="d-flex pt-1">
                  <button type="button" class="btn btn-outline-primary me-1 flex-grow-1">Chat</button>
                  <button type="button" class="btn btn-primary flex-grow-1">Follow</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>

  <div class="card shadow-sm">
    <h5 class="text-center mt-2">Changez mon mot de passe</h5>
		{{ form_start(form, {'attr' : {'class' : 'col-md-5 mx-auto my-5'}})}}
            {{ form_row(form.lastname)}}
            {{ form_row(form.firstname)}}
            {{ form_row(form.email)}}
            {{ form_row(form.old_password)}}
		{{ form_end(form)}}
  </div>
<a class="text-dark font-weight-bolder mb-3" href="{{ path('app_profile') }}">Revenir sur mon compte</a>


{% endblock %}
