	{# <div class="row justify-content-center align-content-center align-items-center">
        {% for product in products  %}
            <div class="col-md-3 card border-0 my-2">
                <div class="text-center p-1">
                    <a href=" {{ path('app_product_show', {'slug' : product.slug, 'id' : product.id}) }}">
                        <img src="{{ asset('uploads/') }}{{product.illustration}}" class="img-fluid p-2" style="max-height: 150px; max-width:300px; object-fit: contain;" alt=""> 
                    </a>
                        <h5 class="title text-center p-1">
                            <a href="{{ path('app_product_show', {'slug' : product.slug, 'id' : product.id}) }}">{{product.name}} </a> 
                        </h5> 
                            <span class="text-muted font-italic">{{product.category.name}}</span>
                        <p class="text-center">
                            <small>{{product.subtitle}}</small>
                            <hr>
                           <h6>{{ (product.price / 100)|number_format(2, ',', '.')}}€</h6>
                        </p>
                    </div>
                    <div class="text-center my-2">
                        <a href="{{ path('app_cart_add', {"id" : product.id}) }}" class="btn btn-sm btn-success rounded ">Ajouter au panier</a>
                    </div>
                </div>
        {% endfor %}
	</div> #}

{# <div class="product-item text-center">
    <a href=" {{ path('app_product_show', {'slug' : product.slug, 'id' : product.id}) }}"><img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid"></a>
    <h5>{{ product.name }}</h5>
    <span class="product-subtitle">{{ product.subtitle }}</span>
    <span class="product-price">{{ (product.price / 100)|number_format(2, ',', '.') }} €</span>
     <div class="text-center my-2">
        <a href="{{ path('app_product_show', {'slug' : product.slug, 'id' : product.id}) }}" class="btn btn-sm btn-success rounded ">Voir détails</a>
    </div>
</div> #}

<div class="d-flex flex-column align-items-center justify-content-center product-item my-3 hoverable" style="max-height: 5vh;">
<div class="product"><a href="{{ path('app_product_show', {'slug' : product.slug, 'id' : product.id}) }}"> <img src="{{ asset('uploads/') }}{{product.illustration}}"></a>
    <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
        <li class="icon"><a href="{{ path('app_product_show', {'slug' : product.slug, 'id' : product.id}) }}"><span class="fas fa-expand-arrows-alt"></span> </a></li>
        <li class="icon"><a href="{{ path('app_product_show', {'slug' : product.slug, 'id' : product.id}) }}"><span class="fas fa-shopping-bag"></span></a></li>
    </ul>
</div>
    <div class="tag bg-red"><small>{{product.subtitle|slice(0, 25)}}...</small></div>
    <div class="title pt-4 pb-1"><a href=" {{ path('app_product_show', {'slug' : product.slug, 'id' : product.id}) }}">{{product.name}} </a> </div>
    <div class="d-flex align-content-center justify-content-center"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> </div>
    <div class="price">{{ (product.price / 100)|number_format(2, ',', '.')}}€</div>
</div>