{% extends 'base.html.twig' %}

{% block title %}CBD EZ - Paiment de votre Commande {% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="h3 text-center">Récapitulatif votre commande</h1>
    <p class="text-center">Veuillez vérifier vos informations avant de procéder au paiement commande</p>
    <hr>
    <div class="row bg-white text-dark p-2 rounded shadow-sm col-md-8 mx-auto my-5">
        <div class="col-8" style="background-color: #f5fcf8">
            <h5 class="my-3 text-center">Ma commande</h5>
            {% for products in cart %}
                <div class="row mb-2 align-items-center">
                    <div class="col-2">
                        <img style="max-height:" src="/uploads/{{products.product.illustration}}" class="img-fluid rounded" alt="Cotton T-shirt">
                    </div>
                    <div class="col-8 font-weight-bold">
                        {{ products.product.name }} <br>
                        <small>{{ products.product.subtitle }} </small>
                    </div>
                    <div class="col-5">
                    <small> x {{ products.qty }} <b class="badge badge-dark"> {{ (products.product.price / 100) | number_format(2, ',', '.')}}€ </b></small>
                    </div>
                </div>
                <hr>
            {% endfor %}
                <div class="bg-white rounded p-3">
                <strong>Sous-total: </strong> {{ (cart_c.getTotal() / 100)|number_format(2, ',', '') }}€
                <br>  
                <strong>Frais de livraison: </strong> {{ (carriers.price / 100)|number_format(2, ',', '')}}€  
                <hr>
                <strong class="">Total: {{ (cart_c.getTotal() / 100 + carriers.price / 100)|number_format(2, ',', '') }}€</strong>
            </div>
            <a href="{{ path('app_stripe_create_session', { 'ref': reference} ) }}" id="checkout-button" class="btn btn-block btn-success mx-3 mx-auto mt-4">Payer  {{ (cart_c.getTotal() / 100 + (carriers.price / 100))|number_format(2, ',', '') }}€</a>
        </div>
        <div class="col-4 mt-1">
            <div class="text-center">
                 <div class="col">
                    <p class="text-card">{{ delivery|raw }}</p>
                 </div>
               
                <hr>
                <div class="col">
                    <h3>Transporteur</h3>
                   <h5>{{ carriers.name }}</h5>
                   <p class="text-card">{{ carriers.description }}</p> 
                   <p class="text-card">{{ (carriers.price / 100)|number_format(2, ',', ' ') }}€</p>
                </div>
            </div>
        </div> 
    </div>
</div>

<style>
    .form-check{
        background-color: #f5fcf8;
        padding: 20px 50px !important;
        margin: 8px;
        font-weight: bold; 
    }
</style>

{% block javascripts %} 
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% endblock %}

